
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #2b0057, #6b00f5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #ece8f5;
  width: 420px;
  padding: 40px;
  border-radius: 25px;
  text-align: center;
}

.logo {
  font-size: 32px;
  font-weight: 600;
  color: #4b2aad;
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 14px 15px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: #ddd9e9;
  font-size: 14px;
}

.info-text {
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
}

.forgot {
  text-align: right;
  font-size: 13px;
  margin-bottom: 20px;
  color: #4b2aad;
  cursor: pointer;
}

.btn {
  width: 100%;
  padding: 14px;
  background: #4b2aad;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 15px;
}

.btn:hover {
  background: #3a1d8f;
}

.bottom-text {
  font-size: 14px;
}

.bottom-text span {
  color: #4b2aad;
  cursor: pointer;
  font-weight: 500;
}
